body {
    margin: 0;
    padding: 0;
    background: #000;
    overflow: hidden;
  }
  
  .container {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100vh;
  }

  button {
      background-color: #fff;
      box-shadow: none;
      
  }

  .pyro > .before,
  .pyro > .after {
    position: absolute;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    box-shadow: 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff;
    -moz-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
    -webkit-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
    -o-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
    -ms-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
    animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  }
  
  .pyro > .after {
    -moz-animation-delay: 1.25s, 1.25s, 1.25s;
    -webkit-animation-delay: 1.25s, 1.25s, 1.25s;
    -o-animation-delay: 1.25s, 1.25s, 1.25s;
    -ms-animation-delay: 1.25s, 1.25s, 1.25s;
    animation-delay: 1.25s, 1.25s, 1.25s;
    -moz-animation-duration: 1.25s, 1.25s, 6.25s;
    -webkit-animation-duration: 1.25s, 1.25s, 6.25s;
    -o-animation-duration: 1.25s, 1.25s, 6.25s;
    -ms-animation-duration: 1.25s, 1.25s, 6.25s;
    animation-duration: 1.25s, 1.25s, 6.25s;
  }
  
  @-webkit-keyframes bang {
    to {
      box-shadow: -154px -71.6666666667px #003cff, 98px -16.6666666667px #ff0400, -151px -215.6666666667px #001eff, 15px -201.6666666667px #1e00ff, 135px 74.3333333333px #00ff6f, 139px -170.6666666667px #66ff00, 238px -107.6666666667px #0011ff, 85px 18.3333333333px #ff8000, 100px -350.6666666667px #009dff, 34px -324.6666666667px #8cff00, 7px -366.6666666667px #ffa600, -52px -331.6666666667px #ff006a, 144px -158.6666666667px #6aff00, 202px -205.6666666667px #ae00ff, -218px -3.6666666667px #1a00ff, 113px -147.6666666667px #ff00e6, 221px -62.6666666667px #5100ff, -223px -116.6666666667px #ffb300, 54px -334.6666666667px #00ff37, -91px 40.3333333333px #00ff8c, -202px -97.6666666667px #ff0088, -174px -227.6666666667px #9900ff, 93px -158.6666666667px #d000ff, 240px -338.6666666667px #00ffa2, 57px 72.3333333333px #00ffb7, 2px -312.6666666667px #00c4ff, 65px -130.6666666667px #ffa600, 30px -328.6666666667px #ffee00, 37px -313.6666666667px #ffa200, -179px -387.6666666667px #00ff95, -7px -320.6666666667px #ff4400, -88px -317.6666666667px #ff0095, 153px -395.6666666667px #00f7ff, -184px 38.3333333333px #ff000d, 48px -12.6666666667px #00ff4d, -106px -158.6666666667px #0004ff, -61px -59.6666666667px #ff5500, 102px -93.6666666667px #00ff62, -17px -177.6666666667px #80ff00, -150px -204.6666666667px #00b7ff, 173px -372.6666666667px #3cff00, -41px -297.6666666667px #ff0033, 72px -368.6666666667px #9100ff, 92px -152.6666666667px #0077ff, -195px 38.3333333333px #00ff0d, -204px 8.3333333333px #ff009d, 62px -116.6666666667px #00ffae, 112px -295.6666666667px #ff8400, -212px -119.6666666667px #005eff, -209px -103.6666666667px darkorange, 35px -206.6666666667px #ff6600;
    }
  }
  @-moz-keyframes bang {
    to {
      box-shadow: -154px -71.6666666667px #003cff, 98px -16.6666666667px #ff0400, -151px -215.6666666667px #001eff, 15px -201.6666666667px #1e00ff, 135px 74.3333333333px #00ff6f, 139px -170.6666666667px #66ff00, 238px -107.6666666667px #0011ff, 85px 18.3333333333px #ff8000, 100px -350.6666666667px #009dff, 34px -324.6666666667px #8cff00, 7px -366.6666666667px #ffa600, -52px -331.6666666667px #ff006a, 144px -158.6666666667px #6aff00, 202px -205.6666666667px #ae00ff, -218px -3.6666666667px #1a00ff, 113px -147.6666666667px #ff00e6, 221px -62.6666666667px #5100ff, -223px -116.6666666667px #ffb300, 54px -334.6666666667px #00ff37, -91px 40.3333333333px #00ff8c, -202px -97.6666666667px #ff0088, -174px -227.6666666667px #9900ff, 93px -158.6666666667px #d000ff, 240px -338.6666666667px #00ffa2, 57px 72.3333333333px #00ffb7, 2px -312.6666666667px #00c4ff, 65px -130.6666666667px #ffa600, 30px -328.6666666667px #ffee00, 37px -313.6666666667px #ffa200, -179px -387.6666666667px #00ff95, -7px -320.6666666667px #ff4400, -88px -317.6666666667px #ff0095, 153px -395.6666666667px #00f7ff, -184px 38.3333333333px #ff000d, 48px -12.6666666667px #00ff4d, -106px -158.6666666667px #0004ff, -61px -59.6666666667px #ff5500, 102px -93.6666666667px #00ff62, -17px -177.6666666667px #80ff00, -150px -204.6666666667px #00b7ff, 173px -372.6666666667px #3cff00, -41px -297.6666666667px #ff0033, 72px -368.6666666667px #9100ff, 92px -152.6666666667px #0077ff, -195px 38.3333333333px #00ff0d, -204px 8.3333333333px #ff009d, 62px -116.6666666667px #00ffae, 112px -295.6666666667px #ff8400, -212px -119.6666666667px #005eff, -209px -103.6666666667px darkorange, 35px -206.6666666667px #ff6600;
    }
  }
  @-o-keyframes bang {
    to {
      box-shadow: -154px -71.6666666667px #003cff, 98px -16.6666666667px #ff0400, -151px -215.6666666667px #001eff, 15px -201.6666666667px #1e00ff, 135px 74.3333333333px #00ff6f, 139px -170.6666666667px #66ff00, 238px -107.6666666667px #0011ff, 85px 18.3333333333px #ff8000, 100px -350.6666666667px #009dff, 34px -324.6666666667px #8cff00, 7px -366.6666666667px #ffa600, -52px -331.6666666667px #ff006a, 144px -158.6666666667px #6aff00, 202px -205.6666666667px #ae00ff, -218px -3.6666666667px #1a00ff, 113px -147.6666666667px #ff00e6, 221px -62.6666666667px #5100ff, -223px -116.6666666667px #ffb300, 54px -334.6666666667px #00ff37, -91px 40.3333333333px #00ff8c, -202px -97.6666666667px #ff0088, -174px -227.6666666667px #9900ff, 93px -158.6666666667px #d000ff, 240px -338.6666666667px #00ffa2, 57px 72.3333333333px #00ffb7, 2px -312.6666666667px #00c4ff, 65px -130.6666666667px #ffa600, 30px -328.6666666667px #ffee00, 37px -313.6666666667px #ffa200, -179px -387.6666666667px #00ff95, -7px -320.6666666667px #ff4400, -88px -317.6666666667px #ff0095, 153px -395.6666666667px #00f7ff, -184px 38.3333333333px #ff000d, 48px -12.6666666667px #00ff4d, -106px -158.6666666667px #0004ff, -61px -59.6666666667px #ff5500, 102px -93.6666666667px #00ff62, -17px -177.6666666667px #80ff00, -150px -204.6666666667px #00b7ff, 173px -372.6666666667px #3cff00, -41px -297.6666666667px #ff0033, 72px -368.6666666667px #9100ff, 92px -152.6666666667px #0077ff, -195px 38.3333333333px #00ff0d, -204px 8.3333333333px #ff009d, 62px -116.6666666667px #00ffae, 112px -295.6666666667px #ff8400, -212px -119.6666666667px #005eff, -209px -103.6666666667px darkorange, 35px -206.6666666667px #ff6600;
    }
  }
  @-ms-keyframes bang {
    to {
      box-shadow: -154px -71.6666666667px #003cff, 98px -16.6666666667px #ff0400, -151px -215.6666666667px #001eff, 15px -201.6666666667px #1e00ff, 135px 74.3333333333px #00ff6f, 139px -170.6666666667px #66ff00, 238px -107.6666666667px #0011ff, 85px 18.3333333333px #ff8000, 100px -350.6666666667px #009dff, 34px -324.6666666667px #8cff00, 7px -366.6666666667px #ffa600, -52px -331.6666666667px #ff006a, 144px -158.6666666667px #6aff00, 202px -205.6666666667px #ae00ff, -218px -3.6666666667px #1a00ff, 113px -147.6666666667px #ff00e6, 221px -62.6666666667px #5100ff, -223px -116.6666666667px #ffb300, 54px -334.6666666667px #00ff37, -91px 40.3333333333px #00ff8c, -202px -97.6666666667px #ff0088, -174px -227.6666666667px #9900ff, 93px -158.6666666667px #d000ff, 240px -338.6666666667px #00ffa2, 57px 72.3333333333px #00ffb7, 2px -312.6666666667px #00c4ff, 65px -130.6666666667px #ffa600, 30px -328.6666666667px #ffee00, 37px -313.6666666667px #ffa200, -179px -387.6666666667px #00ff95, -7px -320.6666666667px #ff4400, -88px -317.6666666667px #ff0095, 153px -395.6666666667px #00f7ff, -184px 38.3333333333px #ff000d, 48px -12.6666666667px #00ff4d, -106px -158.6666666667px #0004ff, -61px -59.6666666667px #ff5500, 102px -93.6666666667px #00ff62, -17px -177.6666666667px #80ff00, -150px -204.6666666667px #00b7ff, 173px -372.6666666667px #3cff00, -41px -297.6666666667px #ff0033, 72px -368.6666666667px #9100ff, 92px -152.6666666667px #0077ff, -195px 38.3333333333px #00ff0d, -204px 8.3333333333px #ff009d, 62px -116.6666666667px #00ffae, 112px -295.6666666667px #ff8400, -212px -119.6666666667px #005eff, -209px -103.6666666667px darkorange, 35px -206.6666666667px #ff6600;
    }
  }
  @keyframes bang {
    to {
      box-shadow: -154px -71.6666666667px #003cff, 98px -16.6666666667px #ff0400, -151px -215.6666666667px #001eff, 15px -201.6666666667px #1e00ff, 135px 74.3333333333px #00ff6f, 139px -170.6666666667px #66ff00, 238px -107.6666666667px #0011ff, 85px 18.3333333333px #ff8000, 100px -350.6666666667px #009dff, 34px -324.6666666667px #8cff00, 7px -366.6666666667px #ffa600, -52px -331.6666666667px #ff006a, 144px -158.6666666667px #6aff00, 202px -205.6666666667px #ae00ff, -218px -3.6666666667px #1a00ff, 113px -147.6666666667px #ff00e6, 221px -62.6666666667px #5100ff, -223px -116.6666666667px #ffb300, 54px -334.6666666667px #00ff37, -91px 40.3333333333px #00ff8c, -202px -97.6666666667px #ff0088, -174px -227.6666666667px #9900ff, 93px -158.6666666667px #d000ff, 240px -338.6666666667px #00ffa2, 57px 72.3333333333px #00ffb7, 2px -312.6666666667px #00c4ff, 65px -130.6666666667px #ffa600, 30px -328.6666666667px #ffee00, 37px -313.6666666667px #ffa200, -179px -387.6666666667px #00ff95, -7px -320.6666666667px #ff4400, -88px -317.6666666667px #ff0095, 153px -395.6666666667px #00f7ff, -184px 38.3333333333px #ff000d, 48px -12.6666666667px #00ff4d, -106px -158.6666666667px #0004ff, -61px -59.6666666667px #ff5500, 102px -93.6666666667px #00ff62, -17px -177.6666666667px #80ff00, -150px -204.6666666667px #00b7ff, 173px -372.6666666667px #3cff00, -41px -297.6666666667px #ff0033, 72px -368.6666666667px #9100ff, 92px -152.6666666667px #0077ff, -195px 38.3333333333px #00ff0d, -204px 8.3333333333px #ff009d, 62px -116.6666666667px #00ffae, 112px -295.6666666667px #ff8400, -212px -119.6666666667px #005eff, -209px -103.6666666667px darkorange, 35px -206.6666666667px #ff6600;
    }
  }
  @-webkit-keyframes gravity {
    to {
      transform: translateY(200px);
      -moz-transform: translateY(200px);
      -webkit-transform: translateY(200px);
      -o-transform: translateY(200px);
      -ms-transform: translateY(200px);
      opacity: 0;
    }
  }
  @-moz-keyframes gravity {
    to {
      transform: translateY(200px);
      -moz-transform: translateY(200px);
      -webkit-transform: translateY(200px);
      -o-transform: translateY(200px);
      -ms-transform: translateY(200px);
      opacity: 0;
    }
  }
  @-o-keyframes gravity {
    to {
      transform: translateY(200px);
      -moz-transform: translateY(200px);
      -webkit-transform: translateY(200px);
      -o-transform: translateY(200px);
      -ms-transform: translateY(200px);
      opacity: 0;
    }
  }
  @-ms-keyframes gravity {
    to {
      transform: translateY(200px);
      -moz-transform: translateY(200px);
      -webkit-transform: translateY(200px);
      -o-transform: translateY(200px);
      -ms-transform: translateY(200px);
      opacity: 0;
    }
  }
  @keyframes gravity {
    to {
      transform: translateY(200px);
      -moz-transform: translateY(200px);
      -webkit-transform: translateY(200px);
      -o-transform: translateY(200px);
      -ms-transform: translateY(200px);
      opacity: 0;
    }
  }
  @-webkit-keyframes position {
    0%,
    19.9% {
      margin-top: 10%;
      margin-left: 40%;
    }
    20%,
    39.9% {
      margin-top: 40%;
      margin-left: 30%;
    }
    40%,
    59.9% {
      margin-top: 20%;
      margin-left: 70%;
    }
    60%,
    79.9% {
      margin-top: 30%;
      margin-left: 20%;
    }
    80%,
    99.9% {
      margin-top: 30%;
      margin-left: 80%;
    }
  }
  @-moz-keyframes position {
    0%,
    19.9% {
      margin-top: 10%;
      margin-left: 40%;
    }
    20%,
    39.9% {
      margin-top: 40%;
      margin-left: 30%;
    }
    40%,
    59.9% {
      margin-top: 20%;
      margin-left: 70%;
    }
    60%,
    79.9% {
      margin-top: 30%;
      margin-left: 20%;
    }
    80%,
    99.9% {
      margin-top: 30%;
      margin-left: 80%;
    }
  }
  @-o-keyframes position {
    0%,
    19.9% {
      margin-top: 10%;
      margin-left: 40%;
    }
    20%,
    39.9% {
      margin-top: 40%;
      margin-left: 30%;
    }
    40%,
    59.9% {
      margin-top: 20%;
      margin-left: 70%;
    }
    60%,
    79.9% {
      margin-top: 30%;
      margin-left: 20%;
    }
    80%,
    99.9% {
      margin-top: 30%;
      margin-left: 80%;
    }
  }
  @-ms-keyframes position {
    0%,
    19.9% {
      margin-top: 10%;
      margin-left: 40%;
    }
    20%,
    39.9% {
      margin-top: 40%;
      margin-left: 30%;
    }
    40%,
    59.9% {
      margin-top: 20%;
      margin-left: 70%;
    }
    60%,
    79.9% {
      margin-top: 30%;
      margin-left: 20%;
    }
    80%,
    99.9% {
      margin-top: 30%;
      margin-left: 80%;
    }
  }
  @keyframes position {
    0%,
    19.9% {
      margin-top: 10%;
      margin-left: 40%;
    }
    20%,
    39.9% {
      margin-top: 40%;
      margin-left: 30%;
    }
    40%,
    59.9% {
      margin-top: 20%;
      margin-left: 70%;
    }
    60%,
    79.9% {
      margin-top: 30%;
      margin-left: 20%;
    }
    80%,
    99.9% {
      margin-top: 30%;
      margin-left: 80%;
    }
  }
  