<div class="span10">

    

    <div class="options">

<div>
    <p>thank you</p>
</div>


        <a href="#!create" class="option">
              
            <input  type="radio" name="company" value="create" >
            <div class="option-content">
                <h1 class="animated bounceIn"><i class="ion-social-apple-outline"></i></h1>
                <h4>CREATE</h4>
                <h4><i class="ion-android-radio-button-on"></i></h4>
            </div>
            <div class="on-checked"></div>
           
        </a>







        <a href="#!read" class="option">
            <input type="radio" name="company" value="read">
            <div class="option-content">
                <h1 class="animated bounceIn"><i class="ion-social-facebook-outline"></i></h1>
                <h4>READ</h4>
                <h4><i class="ion-android-radio-button-on"></i></h4>
            </div>
            <div class="on-checked"></div>
        </a>




        <a href="#!update" class="option">

           
            <input type="radio" name="company" value="update" >
            <div class="option-content">
                <h1 class="animated bounceIn"><i class="ion-social-tumblr-outline"></i></h1>
                <h4>UPDATE</h4>
                <h4><i class="ion-android-checkbox-outline"></i></h4>
            </div>
            <div class="on-checked"></div>
           

           </a>





        <a href="#!delete" class="option">
            <input type="radio" name="company" value="delete">
            <div class="option-content">
                <h1 class="animated bounceIn"><i class="ion-social-twitter-outline"></i></h1>
                <h4>DELETE</h4>
                <h4><i class="ion-android-checkbox-outline"></i></h4>
            </div>
            <div class="on-checked"></div>
           </a>




    </div>
</div>